<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Form</title>
</head>
<body>
    <form action="" method="post">{% csrf_token %}
        <label for="name">Enter Name :
    <input type="text" name="name" id="name"></label><br><br>
    <label for="password">Enter password :
    <input type="password" name="pass" id="
    password"></label><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>