<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>On-Boarding 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- style css link -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- country code and flag link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<body>
    <!-- Register Account Step 1 Start-->
    <div class="account_section_one">
        <div class="account_section_main">
            <div class="login_account_section_one">
                <p class="step_text">Step 03/04</p>
                <div class="account_logo">
                    <img src="{% static "images/logo.svg" %}" alt="">
                </div>
                <h4>Other Details</h4>
                <form class="account_form" method="post">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message == "success" %}
                                <p style='color:green;'>{{ message }}</p>
                            {% else %}
                                <p style='color:red;'>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="input_group">
                        <label for="" class="form-label input_label">Your Credit Card Limit</label>
                        <input type="text" class="form-control account_input" id="" aria-describedby=""
                            placeholder="Enter Number of Dependents" name="credit_card_limit">
                    </div>
                    <div class="input_group">
                        <label for="" class="form-label input_label">Total Current Car Loan</label>
                        <input type="text" class="form-control account_input" id="" aria-describedby=""
                            placeholder="$ 0" name="car_loan">
                    </div>
                    <div class="input_group">
                        <label for="" class="form-label input_label">Total Current Other Loans</label>
                        <input type="text" class="form-control account_input" id="" aria-describedby=""
                            placeholder="$ 0" name="other_loans">
                    </div>
                    <label for="" class="form-label input_label">Have you ever had bad credit history or
                        default?</label>
                    <div class="resident_check_group">
                        <div class="resident_check">
                            <input type="checkbox" class="form-check-input checkbox_resident" name="bad_credit_history" id="">
                            <p>Yes</p>
                        </div>
                        <div class="resident_check">
                            <input type="checkbox" class="form-check-input checkbox_resident" name="bad_credit_history"
                                id="exampleCheck2">
                            <p>No</p>
                        </div>
                    </div>
                    <div class="form-check mt-3 checkbox_input_group">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1"  name="agree_to_terms"  required>
                        <label class="form-check-label" for="exampleCheck1" name="gree_to_terms">
                            <a href="{% url "term-condition" %}" style="color: #0D4949;">
                                I agree to terms & conditions
                            </a>
                        </label>
                    </div>
                    <a href="">
                        <button type="submit" class="login_button">Next</button>
                    </a>
                </form>
            </div>



        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        // checkbox
        $(document).ready(function () {
            $('.checkbox_resident').click(function () {
                $('.checkbox_resident').not(this).prop('checked', false);
            });
        })
    </script>
</body>

</html>