{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms and Conditions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- style css link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar Section Start -->
    <div class="section_1">
        <div class="container">
            <nav class="navbar navbar-expand-lg p-0">
                <div class="container-fluid p-0">
                    <a class="navbar-brand navbar_brand" href="{% url "home" %}"><img src="{% static "images/logo.svg" %}" alt=""></a>
                    <button class="navbar-toggler navbar_toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav_ul">
                            <li class="nav-item">
                                <a class="nav-link nav_link" aria-current="page" href="{% url "home" %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav_link href_active" href="{% url "courses" %}">Courses</a>
                            </li>
                            {% if not request.user.is_authenticated %}
                            <li class="nav-item nav_item_register">
                                <img src="{% static "images/Vector.svg" %}" alt="">
                                <a class="register_link" href="{% url "login" %}">Login</a>
                                <span class="register_link">/</span>
                                <a class="register_link" href="{% url "signup" %}">Register</a>
                            </li>
                            {% else %}
                            <div class="dropdown" style="display: flex; flex-direction: column; align-items: center;">
                                <button class="dropdown-toggle header_dropdown_top" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user_name_and_iamge">
                                        <h6 class="user_name_top">{{user.first_name}}</h6>
                                        <img src="{% if user.profile_img %}{{user.profile_img.url}}{% elif user.socialaccount_set.all.0.get_avatar_url %}{{ user.socialaccount_set.all.0.get_avatar_url }}{% else %}{% static 'images/dummy.jpeg' %}{% endif %}" alt="">
                                    </div>
                                </button>
                                <ul class="dropdown-menu dropdown_menu_item">
                                    <li><a class="dropdown-item item_1" href="{% url "user_logout" %}">Logout</a></li>
                                </ul>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar Section End -->
    <div class="term_section_1">
        <div class="container">
            <h4>Terms and Conditions</h4>
            <div class="trem_desc">
                <h6 style="margin-top: 0px;">1. Acceptance of Terms</h6>
                <p>
                    Welcome to PropStart! By accessing or using our services, you agree to be bound by these Terms and
                    Conditions. If you do not agree with any part of these terms, please do not use our services. These
                    terms apply to all users of PropStart's services.
                </p>
                <h6>2. Services</h6>
                <p>
                    PropStart provides assistance and guidance to users for their needs related to real estate, property
                    management, and related services. Users may receive calls or emails from PropStart representatives
                    for the purpose of providing information, assistance, and support.
                </p>
                <h6>3. Communication Consent</h6>
                <p>
                    By using our services, you consent to receive calls or emails from PropStart representatives to the
                    contact information you provide. These communications may include but are not limited to information
                    about our services, promotional offers, assistance with inquiries, and updates.
                </p>
                <h6>4. Privacy</h6>
                <p>
                    We value your privacy. PropStart will handle your personal information in accordance with our
                    Privacy Policy. We will not share your personal information with third parties for marketing
                    purposes without your consent.
                </p>
                <h6>5. User Responsibilities</h6>
                <p>
                    You agree to provide accurate and up-to-date contact information. If your contact information
                    changes, please update it promptly to ensure you receive relevant communications from PropStart.
                </p>
                <h6>6. Opt-Out</h6>
                <p>
                    If you no longer wish to receive calls or emails from PropStart, you can opt-out by following the
                    instructions provided in the communications or by contacting our customer support team at
                    info@propstart.com.au. Please note that even if you opt-out of marketing communications, we may
                    still contact you for transactional or informational purposes.
                </p>
                <h6>7. Communication Frequency</h6>
                <p>
                    PropStart aims to maintain reasonable communication frequency. However, the frequency of calls or
                    emails may vary based on your interaction with our services, inquiries, and updates to our
                    offerings.
                </p>
                <h6>8. Changes to Terms</h6>
                <p>
                    PropStart reserves the right to modify or update these Terms and Conditions at any time. We will
                    notify users of any material changes through our website or by email. Continued use of our services
                    after such changes constitutes your acceptance of the modified terms.
                </p>
                <h6>9. Disclaimer of Liability</h6>
                <p>
                    PropStart provides information and assistance to the best of its knowledge and abilities. However,
                    we do not guarantee the accuracy, completeness, or timeliness of the information provided. Users are
                    responsible for making their own informed decisions.
                </p>
                <h6>10. Seek independent advice</h6>
                <p>
                    PropStart takes no responsibility for the financial outcome of your investment decisions as a result
                    of information provided. PropStart is not a financial adviser. You should consider seeking
                    independent legal, financial, taxation or other advice. PropStart is not liable for any loss caused,
                    whether due to negligence or otherwise arising from the information provided directly or indirectly
                    to this matter.
                </p>
                <h6>11. Governing Law</h6>
                <p>
                    These Terms and Conditions are governed by the laws of the jurisdiction in which PropStart is
                    registered.
                </p>
                <h6>12. Fees</h6>
                <p>
                    All fee's and charges are non-refundable. Please refer to the quiz to determine whether PropStart is
                    right for you before processing any payments.
                </p>
                <h6>13. Contact Us</h6>
                <p>
                    If you have any questions, concerns, or feedback regarding these Terms and Conditions or our
                    services, please contact us at:
                </p>
                <p>
                    PropStart
                </p>
                <p style="margin-top: 2px;">
                    Email: <span><a href="info@propstart.com.au" class="prop_email">info@propstart.com.au</a></span>
                </p>
                <p>
                    By using PropStart's services, you acknowledge that you have read, understood, and agreed to these Terms and Conditions.
                </p>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>