<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h2>welcome </h2>
        <form action="" method="post">
            {% csrf_token %}
            <!-- Empty Field error -->
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            {{error}} <br>
            {% endfor %}
            {% endif %}
        
            <!-- Form show -->
            {% for fm in form %}
            {{fm.label_tag}} <br> {{fm}} <br> {{fm.errors|striptags}} <br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
        <a href="{% url 'log_out' %}">Logout</a>
    
</body>
</html>